*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body{
  
  height: 100%;
  
}

body{
  
  color: whitesmoke;
  
  min-height: 100vh;

}

a{
  
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  
}

ul{
  
  list-style-type: none;
  
}

p{
  
  word-wrap: break-word;
  hyphens: auto; 
  
}

.wrapper-fluid{
  
  width: 100%;
  min-height: 100%;
  
  background: rgba(17, 17, 17,1);
  
  display: flex;
  flex-flow: column wrap;

  gap: 8rem; 
  
  position: relative;
  
}

:root{
  
  --orangeDF: rgba(255, 117, 56,1);
  --whiteWide: rgba(245, 245, 245, 1);
  --paddingSides: 0rem;
  
  --floral-white: rgba(255, 252, 242, 1);
  --timberwolf: rgba(204, 197, 185, 1);
  --black-olive: rgba(64, 61, 57, 1);
  --eerie-black: rgba(37, 36, 34, 1);
  --flame: rgba(235, 94, 40, 1);
  
}
