header .conteiner-navbar{
  
  background: linear-gradient(90deg, hsla(344, 97%, 63%, 1) 0%, hsla(232, 90%, 59%, 1) 100%);
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  padding: 1rem 1rem;
  
  position: fixed;
  width: 100%;
  z-index: 100;
  
}

.conteiner-navbar #navbar-bars{
  
  font-size: 6vw;
  
  position: relative;
  z-index: 1002;
  
  cursor: pointer;
  
}

.conteiner-navbar #navbar-exit{
  
  display: none;
  
  font-size: 6vw;
  
  position: relative;
  z-index: 1002;
  
  cursor: pointer;
  
}

#navbar-exit.showExit{
  

  
}

.conteiner-navbar .conteiner-sidebar{
  
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  
  position: fixed;
  z-index: 300;
  
  height: 100vh;
  min-height: 100vh;
  
  min-width: 50%;
  max-width: 70%;
  
  overflow-y: auto;
  
  top: 0;
  right: -100%;
  
  background: rgba(40, 40, 40, 0.8);
  
  padding: 8rem 0rem;
  
  transition: all 0.5s ease-out;
  
}

.conteiner-sidebar .sidebar-nav{
  
  min-width: 100%;
  
}

.conteiner-sidebar .sidebar-nav ul{
  
  /*scroll funciona com medida fix*/
  min-width: 100%;
  width: 100%;
  
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
  
  font-size: clamp(1.2rem,2.5vw,20rem);
  
}

.sidebar-nav ul li{
  
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  
  display: flex;
  flex-flow: row nowrap;
  gap: 0.6rem;
  align-items: center;
  justify-content: flex-start;
  
  padding: 0rem 2rem;
  
  transition: all 0.3s ease-out;
  
}

.sidebar-nav p{
  
  max-width: 80%;
  
}

.sidebar-nav li:hover{
  
  background-color: dodgerblue;
  
  padding: 1.3rem 2rem;
  
}

@media only screen and (min-width: 700px){
  
  .sidebar-nav ul li{
    
    padding-left: 5rem;
    
  }
  
  .sidebar-nav ul li:hover{
    
    padding-left: 5rem;
    
  }
  
}

.conteiner-sidebar.sideBarAtiva{
  
  right: 0;
  
}

